.healthContainer{
    display: flex;
    flex-direction: column;
    /* padding: 2%; */
    padding-top: 0;
}
.navbar{
    border: 10px black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #add8ef;
    padding: 1%;
}
#JUITLogo{
    width: 10%;
}
.headings{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.table1,.table2{
    border: 1px solid black;
    margin: 10px;
}
.cardHeading{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}
.JUIT{
    font-size: 2rem;
}